{block content}
<div class="theme-showcase" role="main">
    <div class="page-header">
        <h1><i class="fa fa-heart"></i>Překvapení!</h1>
    </div>
    <p class="text-center">
        <img src="{$basePath}/soubory/dovolena.jpg" alt="Dovolená" class="img-responsive home-img" />
    </p>
    <h3>Nějaké odkazy</h3>
    <ul>
        <li><a href="http://www.hotel-energetic.cz/" target="_blank">Stránky hotelu</a></li>
        <li><a href="http://www.skocarkemnahory.cz/pustevny-solan/" target="_blank">Procházky s kočárkem</a></li>
        <li><a href="http://www.cestujsdetmi.cz/vylety/zlinsky/roznov-pod-radhostem" target="_blank">Výlety s dětmi</a></li>
        <li><a href="https://www.vmp.cz/" target="_blank">Skanzen v Rožnově</a></li>
        <li><a href="http://www.zoozlin.eu/" target="_blank">ZOO ve Zlíně</a></li>
        <li><a href="http://www.in-pocasi.cz/predpoved-pocasi/cz/zlinsky/roznov-pod-radhostem-350/" target="_blank">Vyjde nám počasí?</a></li>
    </ul>
</div>
{/block}
