parameters:
    global:
        sitename: 'Holopovi.cz'
        metaAuthor: 'Peter Holop'
        metaDesc: 'Webové stránky manželů Holopových'
        metaKeys: 'manželé, Holopovi, Holop, Holopová'
        version: '1.3'
        loadEvents: 3
    images:
        timelineFolder: 'images/fotky/'
        timelineThumbsFolder: 'images/thumbs/'
    youtube:
        # sirka a vyska iframe (youtube videa)
        iframeWidth: 430
        iframeHeight: 242

application:
        errorPresenter: Error
        mapping:
                *: App\*Module\Presenters\*Presenter

session:
        expiration: 14 days

services:
        appSettings: Model\Service\AppSettings
        router: App\RouterFactory::createRouter