# Apache configuration file (see https://httpd.apache.org/docs/current/mod/quickreference.html)
Allow from all

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	# RewriteBase /

    # redirect non-www to www
    RewriteCond %{HTTP_HOST} !=localhost
    RewriteCond %{HTTP_HOST} !=127.0.0.1
    RewriteCond %{REMOTE_ADDR} !=127.0.0.1
    RewriteCond %{REMOTE_ADDR} !=::1
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\.(?!well-known/) - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz|map)$ index.php [L]
</IfModule>

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
    AddOutputFilterByType DEFLATE \
        text/html \
        text/xml \
        text/css \
        text/plain \
        image/svg+xml \
        application/xhtml+xml \
        application/xml \
        application/rdf+xml \
        application/rss+xml \
        application/atom+xml \
        text/javascript \
        text/ecmascript \
        application/javascript \
        application/x-javascript \
        application/ecmascript \
        application/json \
        application/x-font-ttf \
        application/x-font-otf \
        font/truetype \
        font/opentype \
        application/x-pointplus

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

# Caching
<IfModule mod_headers.c>
    # One month for image files
    <FilesMatch "\.(ico|jpe?g|png|gif|swf)$">
        Header set Cache-Control "max-age=2628000, public"
    </FilesMatch>

    # One week for scripts and CSS files
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>

    <FilesMatch "\.(x?html?|php)$">
        Header set Cache-Control "private, max-age=360, must-revalidate"
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2628000 seconds"
    ExpiresByType image/x-icon "access plus 2628000 seconds"
    ExpiresByType image/jpeg "access plus 2628000 seconds"
    ExpiresByType image/jpg "access plus 2628000 seconds"
    ExpiresByType image/png "access plus 2628000 seconds"
    ExpiresByType image/gif "access plus 2628000 seconds"
    ExpiresByType application/x-shockwave-flash "access plus 2628000 seconds"
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType application/javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
    ExpiresByType text/html "access plus 604800 seconds"
    ExpiresByType application/xhtml+xml "access plus 604800 seconds"
</IfModule>