{block og}
    <meta property="og:url" content="{$baseUrl}{plink this}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Přejeme klidný rok 2019"/>
    <meta property="og:description" content="Ať vám přinese tolik radosti, co přinesly ty předchozí nám :)"/>
    <meta property="og:image" content="{$baseUrl}/soubory/pf2019.jpg"/>
{/block}
{block content}
    <div class="theme-showcase" role="main">
        <div class="page-header">
            <h1><i class="fa fa-home"></i>Úvodní stránka
                <small>Ahoj!</small>
            </h1>
        </div>
        <h2 class="text-center">Přejeme klidný rok 2019</h2>
        <p class="text-center">
            Ať vám přinese tolik radosti, co přinesly ty předchozí nám :)
        </p>
        <p>
            <img src="{$basePath}/soubory/pf2019.jpg" alt="PF 2019" class="img-responsive home-img"/>
        </p>
        <hr/>
        <h2 class="text-center">Přejeme nenáročný rok 2018</h2>
        <p class="text-center">
            Loni jsme přáli plodný rok, letos to už přehánět nebudeme :)
        </p>
        <p>
            <img src="{$basePath}/soubory/pf2018.jpg" alt="PF 2018" class="img-responsive home-img"/>
        </p>
        <hr/>
        <h2 class="text-center">Whoops, I did it again...</h2>
        <p class="text-center">
            <img src="{$basePath}/soubory/verca_starsi_segra.jpg" alt="Whoops, I did it again..."
                 class="img-responsive home-img"/>
        </p>
        <hr/>
        <h2 class="text-center">Baby boom!</h2>
        <p class="text-center">
            <img src="{$basePath}/soubory/baby-boom-verca.jpg" alt="Baby boom" class="img-responsive home-img"/>
        </p>
        <hr/>
        <h2 class="text-center">Přejeme plodný rok 2017</h2>
        <p class="text-center">
            <img src="{$basePath}/soubory/pf2017.jpg" alt="PF 2017" class="img-responsive home-img"/>
        </p>
        <hr/>
        <h2 class="text-center">Už jsme svoji</h2>
        <div class="cas-od-svatby" data-date="2014-07-12 14:00:00"></div>
        <p class="text-center">
            <img src="{$basePath}/soubory/dekovani_web.jpg" alt="Děkujeme za svatební dary"
                 class="img-responsive home-img"/>
        </p>
    </div>
{/block}
