html {
    position: relative;
    min-height: 100%;
}
body{
    padding-top: 60px;
    margin-bottom: 60px;
}
h1 span.glyphicon, .btn span.glyphicon, ul.nav.navbar-nav li a > span.glyphicon,
h1 .fa, .btn .fa, ul.nav.navbar-nav li a > .fa {
    padding-right: 0.5em;
}
.page-header {
    margin: 10px 0;
}
.pozvanka {
    margin: 0 auto;
    position: relative;
    width: 575px;
    height: 394px;
}
.pozvanka img {
    position: absolute;
    top: 0;
    left: 0;
}
.pozvanka img:hover {
    cursor: pointer;
}
.page-header {
    border-bottom: 1px solid #b4bcc2;
}
.footer {
    background: none repeat scroll 0 0 #2c3e50;
    bottom: 0;
    color: #fff;
    margin-top: 5px;
    padding: 0.5em;
    position: absolute;
    width: 100%;
}
.home-img {
    margin: 0 auto;
}
.gallery .album h2 {
    font-size: 1.0em;
}
.gallery .album, .gallery .photo {
    text-align: center;
    display: inline-block;
    max-height: 180px;
    overflow: hidden;
}
.gallery .photo {
    margin-bottom: 1em;
    max-height: 140px;
}
.gallery .album img, .gallery .photo img {
    max-width: 200px;
    height: auto;
}
.alert {
    margin-top: 1em;
}
/* TLACITKO PRO POSUN NAHORU */
.back-to-top {
    background-color: #2c3e50;
    color:#fff;
    border-radius: 50%;
    bottom: 0.5em;
    display: none;
    font-size: 2em;
    height: 2em;
    line-height: 1em;
    opacity: 0.65;
    padding: 0.5em;
    position: fixed;
    right: 0.5em;
    text-decoration: none;
    width: 2em;
}
.back-to-top:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    opacity: 1;
}
/* TLACITKO PRO POSUN NAHORU KONEC */
/* LIGHTBOX V GALERII */

/* LIGHTBOX V GALERII KONEC */